body {
    font-family: "Comic Neue";
    background-color: aqua;
}

.vab-container {
    position: absolute;
    top: 70px;
}

h1 {
    font-size: 90px;
    font-weight: 700;
    text-align: center;
}

.top-banners {
    display: flex;
}

.anniversaries-table {
    margin: 0 auto;
    text-align: center;
    font-size: 40px;
}