body {
    font-family: "Comic Neue";
    background-color: aqua;
}

h1 {
    font-size: 50px;
    font-weight: 700;
    text-align: center;
}

.top-banners {
    display: flex;
}

.anniversaries-table {
    margin: 0 auto;
    text-align: center;
}