body {
    font-family: "Comic Neue";
    background-color: aqua;
}

.anniversary-banner-1 {
    position: absolute;
    top: 70px;
}

.vab-container.anniversary-banner-2 {
    position: absolute;
    top: 350px;
    background: linear-gradient(to bottom, #ffff00, #ff6600);
}

.vab-container.anniversary-banner-2 .vab-counter {
    display: none;
}

h1 {
    font-size: 90px;
    font-weight: 700;
    text-align: center;
}

.top-banners {
    display: flex;
}

.anniversaries-table {
    margin: 0 auto;
    text-align: center;
    font-size: 40px;
}