:root {
    --pixel-size: 2;
}

body {
    display: flex;
    flex-direction: column;
    height: calc(100vh - (8px * 2));
}

header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

h1 {
    padding: 20px;
    font-family: "VT323", monospace;
	font-weight: 400;
    font-size: 48px;
}

.icon {
    vertical-align: middle;
}

.icon .icon-error {
    width: 100px;
    margin: -25px;
}

.content {
    flex-grow: 1;
}
